:root {
  --black-color: #000;
  --white-color: #fff;
  --accent-color: #F4AA1D;
  --light-color: #B8B8B8;
  --gray-color: #575757;
}

html {
  scroll-behavior: initial !important;
}

a {
  &:hover {
    color: var(--white-color);
  }
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  padding-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-style: italic;
}

h2 {
  font-size: 2.375rem;

  @media (max-width: 991px) {
    font-size: 2rem;
  }
}

p {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 575px) {
    font-size: 15px;
  }
}

a {
  color: var(--accent-color);
  transition: 300ms;
}

.link-box {
  a {
    text-decoration: underline;
    color: var(--white-color);

    &:hover {
      color: var(--accent-color) !important;
    }
  }
}

.button-box {

  a,
  button {
    padding: 1.125rem 1.5rem;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
    line-height: 1.5;
    border: 3px solid;
  }

  &.button-primary {

    a,
    button {
      background-color: var(--black-color);
      color: var(--accent-color);
      border-color: var(--black-color);

      &:hover {
        background-color: var(--accent-color);
        color: var(--black-color);
      }
    }
  }

  &.button-accent {

    a,
    button {
      background-color: var(--accent-color);
      color: var(--black-color);
      border-color: var(--accent-color);

      &:hover {
        background-color: var(--black-color);
        color: var(--accent-color);
      }
    }
  }

  &.button-large-width {

    a,
    button {
      max-width: 360px;
      width: 100%;
    }
  }

  &.button-small {

    a,
    button {
      font-size: 15px;
      max-width: 260px;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1;
    }
  }
}

.social {
  a {
    color: var(--white-color);

    svg {
      width: 30px;
      height: auto;
    }

    &:hover {
      color: var(--accent-color);
    }
  }

  ul {
    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

section {
  overflow: hidden;
  position: relative;
}


.swiper-button-next,
.swiper-button-prev {
  &:after {
    content: none !important;
  }
}

.home-main {
  padding-top: 123px;
}

.giveaways {
  max-width: 398px;

  .image-carousel {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: var(--white-color);

    img {
      width: 100%;
    }

    &:before {
      content: 'GIVEAWAYS';
      color: var(--black-color);
      font-weight: bold;
      font-size: 20px;
      background-color: var(--accent-color);
      position: absolute;
      right: -54px;
      bottom: 50px;
      transform: rotate(-45deg);
      line-height: 1;
      padding: 5px;
      width: 250px;
      text-align: center;
      z-index: 2;
    }
  }

  .image-box {
    padding: 50% 0;
    background-color: var(--white-color);
    border-radius: 10px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: 'GIVEAWAYS';
      color: var(--black-color);
      font-weight: bold;
      font-size: 20px;
      background-color: var(--accent-color);
      position: absolute;
      right: -54px;
      bottom: 50px;
      transform: rotate(-45deg);
      line-height: 1;
      padding: 5px;
      width: 250px;
      text-align: center;
      z-index: 1;
    }
  }
}

form {
  .required {
    color: red;
  }
}